In [1]:
#TASK1:The company hired 30 employees recently.Assign employee id to 30 candidates as per deatil below .save the emplyee Id in in sepaarte !D array one for each department and print them.
import numpy as np
Hr=np.arange(1,4)
Hr

It=np.arange(4,19)
It

Finance=np.arange(19,24)
Finance

Sales=np.arange(24,31)
Sales

array([24, 25, 26, 27, 28, 29, 30])

In [5]:
#TASK2: Create four different 1D arrays to hold only the salaries of the employees as per the details below and print them.
import numpy as np
Hr=np.array([50,60,57])
It=np.array([67]*15)
Finance=np.array([60,65,50,70,87])
Sales=np.array([50,60,65,90,56,65,71])
print("Hr:",Hr)
print("It:",It)
print("Finance:",Finance)
print("Sales:",Sales)

Hr: [50 60 57]
It: [67 67 67 67 67 67 67 67 67 67 67 67 67 67 67]
Finance: [60 65 50 70 87]
Sales: [50 60 65 90 56 65 71]

In [12]:
#TASK3: Calculate department wise average salary of 30 employees and department wise highest salary expense on employee
import numpy as np
print("The average of Hr:",np.average(Hr))
print("The average of It:",np.average(It))
print("The average of Finance:",np.average(Finance))
print("The average of Sales:",np.average(Sales))


# finding higest average of salary of a department
avg_sal = {"Hr": 55.666666666666664, "It": 67.0, "Finance": 66.4, "Sales": 65.28571428571429}
print(avg_sal)
salary_values = list(avg_sal.values())
print("The average highest salary is", np.average(salary_values))

The average of Hr: 55.666666666666664
The average of It: 67.0
The average of Finance: 66.4
The average of Sales: 65.28571428571429
{'Hr': 55.666666666666664, 'It': 67.0, 'Finance': 66.4, 'Sales': 65.28571428571429}
The average highest salary is 63.588095238095235

In [34]:
#TASK4:LIST HIGHEST SALARY FOR HR AND FINANCE
print("The highest salary of Hr:",np.max(Hr))
print("The highest salary of Finance:",np.max(Finance))

The highest salary of Hr: 60
The highest salary of Finance: 87

In [40]:
#TASK5The company has decided to give a joining/signing bonus worth 5% of the gross salary to those employees who belong to the IT department. Update the salary of such employees after adding the bonus. Display the updated salaries
It=np.array([67]*15)
print("Before updated on It:",It)
updated_It=It*(5/100)
print("updated salary of It:",updated_It)

Before updated on It: [67 67 67 67 67 67 67 67 67 67 67 67 67 67 67]
updated salary of It: [3.35 3.35 3.35 3.35 3.35 3.35 3.35 3.35 3.35 3.35 3.35 3.35 3.35 3.35
 3.35]